@import "../index.css";

.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(https://app.ens.domains/static/media/heroBG.f5f70c11169cb24a118d.jpg)
    repeat scroll 0% 0% / cover;
}

main {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 1rem;
}
