@import "../../index.css";

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  color: white;
}

@layer components {
  nav {
    @apply flex p-[1rem] backdrop-blur-md bg-white bg-opacity-5 sticky top-0 z-50;

    /* md */
    @apply lg:justify-between lg:items-stretch;
  }
  .btn {
    @apply py-2 px-4 border-solid border-white border-[1px] text-white font-semibold rounded-lg shadow-md hover:bg-white hover:text-blue-500 duration-200;
  }
  .btn-thin {
    @apply py-1 px-4 border-solid border-white border-[1px] text-white font-semibold rounded-lg shadow-md hover:bg-white hover:text-blue-500 duration-200;
  }
}
